body {padding: auto;
      border-top: 1px;
      border-bottom: 1px;
      border-left: 1px;
      border-right: 1px;
      background-color: darkslategray;}
nav {border-style: double;
     border-radius: 3px;
     background-color: white;
     font-weight: bolder;}
.topnav {text-align:center;
        height: 50px;
        font-size: xx-large;
        background-color:violet;}
img {width: 200px; 
     border-radius: 10px;
     float:right} 
 img+p {font: italic;
        font-size: 2cm;
        text-align: center;
        color: violet;}           
.ABOUT {background-color:darkslategray;
        height: 60px;
        font-size: xx-large;}
.WORK {background-color: purple;
       height:100px;
       font-size: x-large;
       border-radius: 5px;}
.CONTACT {background-color:white;
          text-align: center;
        font-style: oblique ;}
footer {background-color: white;
        height: 80px;
        text-align: center;}